*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#galleryContainer{
    display: flex;
    height:300px;
    width:300px;
    margin:  100PX auto;
    border: 2px solid lightblue;
    background-size: cover;
}

